#knapparDiv{
    /* Style taggar för att skapa flex container där knapparna ska vara. */
    overflow: hidden;
    background-color: black;
    align-items: center;
    height: 55vh;
    width: 90vh;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    margin: auto;
}


.allaknappar{
    /* Style taggar för alla knapparna. Använder vh för att få en mer responsiv hemsida */
    background-color: blue;
    border: none;
    color: black;
    padding: 2vh ;
    margin: 3vh;
    height: 8vh;
    width: 10vh;
    margin-left: 9vh;
    border-radius: 5px;
    word-wrap: break-word;
    box-sizing: content-box;
}

/* Ändrar färgen när musen kommer över knappen. */
.allaknappar:hover{
    background-color: pink;
}   